<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Hallo world</p>
    <div>
        <table>
          <tr>
            <th>id</th>
            <th>Name</th>
            <th>Role</th>
          </tr>

          <tr>
            <td>Alex</td>
            <td>28</td>
            <td>Developer</td>
          </tr>
        </table>
    </div>
    <a href="{{ url_for('login') }}">
      <button>Login</button>
    </a>
    
</body>
</html>